body {
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.carousel-container {
  position: relative;
  overflow: hidden; /* Asegúrate de que las imágenes no se salgan */
}

.carousel {
  width: 100%;
  position: relative;
  animation: fade 20s infinite; /* Animación opcional */
}

.carousel-item {
  display: none;
}

.carousel-item img {
  width: 100%;
  height: auto; /* Mantener la proporción de las imágenes */
}

.carousel-item.active {
  display: block;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.level-boxes {
  margin: -30px 0;
  margin-bottom: 100px;
}
