.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 20;
  transition: background-color 0.3s ease, position 0.3s ease;
}

.navbar.scrolled {
  background-color: white;
  position: fixed;
  top: 0;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px; /* Ajusta el tamaño del logo */
  height: auto;
  margin-right: 10px;
}

.navbar-text {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
