@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.top-bar {
  background-color: #186ddd;
  padding: 8px 0;
  color: white;
  font-size: 12px;
}

.container.text-center {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

.span-topbar {
  color: rgb(255, 255, 255);
}

.span-topbar a {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-left: 8px;
}

.span-topbar svg {
  margin-right: 4px; /* Espacio entre el icono y el texto */
  margin-left: 4px;
}
